.checkout-sidebar-plan-upsell.promo-card {
	margin-top: 24px;
	margin-bottom: 24px;
}

.promo-card.checkout-sidebar-plan-upsell {
	padding: 24px;
}

.promo-card.checkout-sidebar-plan-upsell .action-panel__title {
	color: var(--studio-wordpress-blue-50);
	display: block;
	font-weight: 400;
	font-size: $font-title-small;
	line-height: 1.3;
}

.promo-card {
	max-width: 384px;
	width: 100%;
	border-radius: 3px;
}
.promo-card .action-panel__body {
	overflow: visible;
	color: var(--studio-gray-100);
}

.checkout-sidebar-plan-upsell__plan-grid {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 2fr 3fr;
}

.checkout-sidebar-plan-upsell__plan-grid > div:nth-child(even) {
	text-align: right;
}

.checkout-sidebar-plan-upsell__plan-grid > div {
	border-top: 1px solid #ccc;
	padding: 0.5em 0;

	&:nth-of-type(1),
	&:nth-of-type(2) {
		border-top: none;
	}
}

.checkout-sidebar-plan-upsell__do-not-pay {
	text-decoration: line-through;
	margin-right: 8px;
	color: #646970;

	.rtl & {
		margin-right: 0;
		margin-left: 8px;
	}
}

.promo-card.checkout-sidebar-plan-upsell .button {
	width: 100%;
}
