@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";
@import "@wordpress/base-styles/variables";

.pressable-plan-card-content {
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: space-between;
	height: 100%;
}

.pressable-plan-card-content__logo {
	width: 175px;
	height: auto;
	margin-block-end: 16px
}

.pressable-plan-card-content__price-actual-value{
	@include heading-large;
	color: var(--color-text);
}

.pressable-plan-card-content__price-interval {
	@include body-small;
}

.pressable-plan-card-content__price-row {
	display: flex;
	align-items: baseline;
	gap: 8px;
}

.pressable-plan-card-content__price-original {
	text-decoration: line-through;
	@include body-small;
	color: var(--color-neutral-50);
}

.pressable-plan-card-content__price-discount {
	@include body-small;
	color: var(--color-success-50);
	background-color: var(--color-success-5);
	padding: 4px 8px;
	border-radius: 4px;
	text-wrap: nowrap;
}

.pressable-plan-card-content__cta-section {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.pressable-plan-card-content__promo-footnote {
	@include body-small;
	color: var(--color-neutral-50);

	a {
		color: var(--color-text);
		text-decoration: underline;
	}
}

// We need to do this specifically to override the white-space.
.pressable-plan-card-content__cta-button.pressable-plan-card-content__cta-button.pressable-plan-card-content__cta-button {
	min-width: 0;
	width: 100%;
	min-height: 40px;
	max-width: 100%;
	white-space: normal;
	justify-content: center;
}

.pressable-plan-section__details-two-lists {
	display: flex;
	flex-direction: column;

	@include break-large {
		flex-direction: row;
		gap: 16px;
	}

	> * {
		flex-grow: 1;
	}
}

.flex-column-gap-16 {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.premium-plan-section__logo {
	width: 85px;
}

.premium-plan-section__content {
	margin-block-start: 8px;
	@extend .flex-column-gap-16;
}

.premium-plan-section__heading {
	@include heading-x-large;
}

.premium-plan-section__subheading {
	@include body-large;
}

.premium-plan-section__cta-buttons {
	@extend .flex-column-gap-16;

	.components-button.premium-plan-section__cta-button {
		white-space: normal;
		text-align: center;
	}
}

.premium-plan-section__cta-button.components-button.has-icon.has-text {
	justify-content: center;
}

.premium-plan-section__two-columns-list {
	display: grid;

	@include break-wide {
		grid-template-rows: repeat(6, 1fr);
		grid-auto-flow: column;
	}
}
