@import './pulse';

.wpcom-site__logo {
	position: absolute;
	top: 50%;
	inset-inline-start: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	fill: $gray-900;
	animation: pulse 1.5s ease-in-out infinite;
}
