.setup-your-site-ai-step {
	.summary-button.has-density-low  {
		border-radius: 8px;
		
		// adjust gap between title and strapline
		[data-wp-component="VStack"]:has(.summary-button-title) {
			gap: $grid-unit-05;
		}

		.summary-button-title{
			font-weight: 500;
		}
	}
}

