.dashboard-responsive-menu {
	flex-shrink: 0;
}

.dashboard-responsive-menu__scrollable-container {
	overflow-x: scroll;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	scrollbar-width: none;  /* Firefox */

	&::-webkit-scrollbar {
		display: none;  /* Safari and Chrome */
	}

	// Restores focus ring appearances
	padding: 2px;
	margin: -2px;
}
