@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/mixins';

.client-checkout-v2__error {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 24px 16px;
	margin: 0 auto;

	gap: 24px;

	@include break-large {
		padding: 144px;
	}
}
