.is-section-stepper .woo-hosted-plans .wp-brand-font,
.is-section-stepper .woo-hosted-plans .plan-features-2023-grid__header-title,
.is-section-stepper .woo-hosted-plans .plan-price {
	font-family: $default-font;
}
