@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.confirm-cancel-domain__formatted-header.formatted-header {
	margin: 16px 0 8px;
}

.cancel-purchase__refund-string {
	color: var(--color-success);
	font-weight: 600;
}

.cancel-purchase__warning-string {
	color: var(--color-error);
	font-weight: 600;
}

.cancel-purchase__refund-information {
	font-size: $font-body-small;
}
