@import 'calypso/dashboard/app-dotcom/style.scss';

.dashboard-backport-sites-list {
	height: 100%;
	overflow: hidden;

	.dashboard-page-layout {
		height: 100%;
		max-width: 100% !important; // Override the max-width on backport.
		justify-content: flex-start;
		align-self: center;
		margin: 0;
		padding: 0;
	}

	.dashboard-page-layout__content,
	.dashboard-page-layout__content > .components-card {
		flex: 1;
	}

	.dashboard-page-header {
		display: none;
	}

	.components-card {
		box-shadow: none;
	}

	.components-card-body {
		height: 100%;
		padding: 0;
	}

	.sites-notices {
		display: none;
	}

	.dataviews-wrapper {
		iframe {
			max-width: unset;
		}
	}
}
