@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";
@import "@automattic/components/src/styles/typography";

.cancel-purchase-form__feedback-question {
	margin-bottom: 1rem;
	font-size: 0.875rem;
	font-weight: 500;
	letter-spacing: -0.31px;
	text-align: start;
}

.cancel-purchase-form__remove-plan {
	strong.is-highlighted {
		font-size: 0.75rem;
		display: inline-block;
		background-color: var(--studio-yellow-20);
		padding: 0 0.625rem;
		border-radius: 4px;
		color: var(--studio-yellow-80);
	}
}

.cancel-purchase-form__upsell-subheader {
	color: var(--studio-gray-70);
}

.cancel-purchase-form__upsell-content {
	display: flex;
	flex-direction: column;
	flex: 0 1;
}

.cancel-purchase-form__upsell-text {
	line-height: 1.8;
}

.cancel-purchase-form__upsell-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 16px;
	margin: 2.2rem 0;
}

.cancel-purchase-form__upsell-image {
	width: 100%;
}


.cancel-purchase-form__edu {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	gap: 20px;
	max-width: 600px;
}

.cancel-purchase-form__edu-header-group {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 20px;
}

.cancel-purchase-form__edu-header-text-group {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.cancel-purchase-form__edu-image-container {
	display: none;

	@include break-small {
		display: block;
		width: 138px;
		flex: 0 0 138px;
	}
}

.cancel-purchase-form__edu-buttons {
	border-top: 1px solid #f0f0f0;
	text-align: center;
	padding-top: 30px;
	margin-top: 30px;

	p {
		margin-bottom: 0.5em;
	}
}

.cancel-purchase-form__edu-icon-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	list-style: none;
	margin: 0;

	> li {
		display: flex;
		flex-direction: row;
		gap: 15px;
		margin: 0;
	}
}

.cancel-purchase-form__edu-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	flex: 0 0 44px;
	border-radius: 50%;
	background-color: #50575e;
}

.cancel-purchase-form__edu-text {
	ul {
		margin-inline-start: 2rem;
	}

	li {
		margin: 0.75rem 0;
	}
}

.cancel-purchase-form__remove-plan-text {
	display: block;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}

.cancel-purchase-form__remove-plan-button {
	margin-inline-end: 1rem;
}
