@import '@wordpress/base-styles/variables';
@import '@wordpress/base-styles/colors';

.dashboard-add-new-site__menu-item {
	height: auto;
	text-align: start;
	padding: $grid-unit-10;
	margin-inline: -$grid-unit-10;
	color: inherit !important; // avoid changing the color on hover

	&:hover {
		background: $gray-100;
		border-radius: $radius-medium;
	}
}

.dashboard-add-new-site__menu-item-icon {
	width: 24px;
	height: auto;
}

.dashboard-add-new-site__banner {
	background: $gray-100;
	border-radius: $radius-medium;
	padding: $grid-unit-20;
}
