@import '@wordpress/base-styles/variables';

.dns-propagation-progress-bar {
	width: 100%;

	/* Change the progress bar color to the theme color */
	& > div {
		--wp-components-color-foreground: var(--wp-admin-theme-color);
	}
}
