@import '@wordpress/base-styles/variables';

.dns-propagation-progress-bar {
	/*
	 * !important is required because WordPress component CSS may be loaded after page-specific styles,
	 * causing it to override our custom styles (for example, on my.wordpress.com).
	 */
	width: 100% !important;
	height: 4px !important;

	/* Change the progress bar color to the theme color */
	& > div {
		--wp-components-color-foreground: var(--wp-admin-theme-color);
	}
}
