@import "variables";

.components-card-footer.help-center__container-footer {
	height: auto;
	display: block;
	position: relative;
	padding: 0;

	// hide when empty
	&:empty {
		display: none;
	}

	.button.help-center-contact-page__button {
		margin: 16px;
		border: 1px solid var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
		border-radius: 8px;
		box-shadow: none;
		display: inline-block;
		text-align: center;
		width: calc(100% - 32px);

		&:hover {
			box-shadow: none;
		}
	}
}

.wp-core-ui {
	.help-center-contact-page__button {
		background: unset;
	}
}
