@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/mixins';

.step-container-v2 {
	--step-container-v2-content-block-padding: 2rem;
	--step-container-v2-content-inline-padding: 1rem;

	--step-container-v2-top-bar-padding: 1rem;
	--step-container-v2-top-bar-content-height: 24px;

	@include break-small {
		--step-container-v2-content-inline-padding: 3rem;
	}

	width: 100%;
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
