@import "@automattic/typography/styles/variables";
$blueberry-blue: #3858e9;

.chatbox {
	width: 100%;
	height: calc(100% - 138px);
	background-color: #f8f9fa;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.chatbox-toggle {
	padding: 0;
	background-color: transparent;
	z-index: 999;
	transform: translateX(0);
	transition: transform 0.5s ease-in-out;
	outline: none !important;
	box-shadow: none !important;
	border: none !important;
	position: fixed;
	right: 248px;
	bottom: 330px;
}

.chatbox-messages {
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
	font-size: medium;
	max-width: 100%;
	line-height: 1.4;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
	overscroll-behavior: contain;
	padding-top: 16px;

	&:has(.odie-notice) {
		margin-bottom: 135px;
	}

	.odie-chatbox-bottom-edge {
		min-height: 8px;
		width: 100%;
	}

	.odie-chatbox-message-sources-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		&:last-of-type > .odie-chatbox-message-sources-container {
			margin-bottom: 64px;
		}
	}
	
	.chatbox-loading-chat__spinner {
		display: flex;
		width: 100%;
		justify-content: center;
		padding: 16px 0;

		.components-spinner {
			color: $blueberry-blue;
		}
	}

	.odie-chat__date {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		padding-bottom: 16px;
		color: var(--studio-gray-50);
		font-size: 0.75rem;
	}
}

.odie-chatbox-message-dislike-feedback {
	min-height: 235px;
	gap: 18px;
	justify-content: flex-start;
}

.chat-box-message-container {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.using-environment-badge {
	margin-bottom: 86px;
	height: calc(100vh - 120px - 86px);
}

.chatbox-header-button {
	color: #ece6f6;
	border: none;
	outline: none;
	padding: 0;
	cursor: pointer;
	background: none;
	font-size: large;
	font-weight: normal;
	text-align: left;
	width: 100%;
}

.odie-chat-message-input-container, .odie-closed-conversation-footer {
	z-index: 10;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 410px;
	flex-shrink: 0;
	box-sizing: border-box;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 16px;
	border-top: 1px solid var(--gray-gray-5, #dcdcde);
	background: var(--black-white-white, #fff);
}

.odie-closed-conversation-footer {
	border-top: 1px solid var(--studio-gray-5, #DCDCDE);
	background: var(--studio-white, #FFF);
	box-sizing: border-box;

	width: 100%;
	display: flex;
	padding: 16px;
	flex-direction: column;
	align-items: center;
	gap: 10px;

	span {
		color: var(--studio-gray-40, #787C82);
		font-size: $font-body-small;
		line-height: 20px;
	}

	.odie-closed-conversation-footer__button {
		display: flex;
		height: 40px;
		padding: 10px 24px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		align-self: stretch;

		border-radius: 4px;
		border: 1px solid var(--studio-gray-10, #C3C4C7);
		background: var(--studio-white, #FFF);
		color: var(--studio-gray-100, #101517);

		svg {
			color: var(--studio-gray-40);
		}

		&:hover {
			border-color: var(--color-neutral-20)  !important;
		}

		&:focus {
			outline: var(--studio-blue-50, #0675c4) solid 2px !important;
		}

		&:focus,
		&:hover {
			color: var(--studio-gray-100, #101517) !important;

			svg {
				color: var(--studio-gray-40);
			}
		}
	}
}
