@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";
@import "@automattic/onboarding/styles/mixins";

.how-to-migrate {
	@include onboarding-block-margin;
	max-width: 620px;

	@media ( min-width: $break-medium ) {
		margin-left: auto;
		margin-right: auto;
	}

	@media ( max-width: $break-small ) {
		.step-container__header {
			margin-bottom: 16px;

			.formatted-header__title {
				padding: 0;
			}

			.formatted-header__subtitle {
				padding: 0;
			}
		}
	}

	.onboarding-title {
		font-size: 2.75rem;
		text-align: center;
	}

	.onboarding-subtitle {
		color: var(--studio-gray-50, #646970);
		font-size: 1rem;
		letter-spacing: -0.32px;
		line-height: 1.5;
		text-align: center;
	}

	.how-to-migrate__list {
		text-align: center;

		.flow-question {
			max-width: none;
			width: 100%;
		}
	}

	#how-to-migrate-header {
		.formatted-header__subtitle {
			text-align: center;
		}
	}

	.how-to-migrate__name {
		color: var(--studio-gray-100);
		font-size: 1.25rem;
		font-weight: 500;
		margin-right: 8px;
	}

	.how-to-migrate__description {
		color: var(--studio-gray-60);
	}

	.how-to-migrate__loader {
		display: block;
		margin: 0 auto;
	}
}

.how-to-migrate__experiment-expectations {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;

	@include break-large {
		padding: 0;
	}

	.action-buttons__next {
		width: 300px;
	}
}
