.eligibility-warnings {
	// 16px from card padding + 32 = 48 gap from top|bottom
	// 24px from card padding + 24 = 48 gap from left|right
	padding: 0;
	overflow-wrap: anywhere;
	background: #fff;
	font-size: $font-body-small;
	margin: 0;

	@media (max-width: 660px) {
		padding: 0;
	}

	// Specificity bump to override the default styles that may get loaded later.
	> .card.card {
		padding: 0;
	}

	.eligibility-warnings__confirm-buttons {
		display: flex;
		justify-content: space-between;

		@media (max-width: 660px) {
			flex-direction: column-reverse;
			flex-wrap: wrap;
			gap: 20px;

			.button {
				width: 100%;
			}
		}
	}

	.support-block {
		align-items: center;
		display: flex;
		gap: 5px;
		font-size: 0.875rem;

		a {
			text-decoration: underline;
		}

		@media (max-width: 660px) {
			justify-content: center;
		}
	}

	.card {
		box-shadow: none;

		.calypso-notice {
			margin-bottom: 0;
		}
	}

	.eligibility-warnings__hold-list {
		background: #fff;
		border: 1px solid var(--studio-gray-5);
		border-radius: 4px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 24px;
		margin-bottom: 24px;
		gap: 10px;

		h1.card-heading.card-heading-20 {
			font-size: unset;
			font-weight: 600;
			margin: unset;
			color: unset;
		}

		.eligibility-warnings__hold {
			padding: unset;
			margin: unset;
			width: 100%;
		}

		.eligibility-warnings__message {
			padding: 16px 0;
			margin: unset;
			border-top: 1px solid var(--studio-gray-5);
		}
		.eligibility-warnings__message:last-of-type {
			padding-bottom: 0;
		}
	}

	&.eligibility-warnings--without-title {
		padding: 24px;
		box-shadow: 0 0 0 1px var(--color-border-subtle);

		.eligibility-warnings__address-first {
			// The width of the parent element is much greater for the without title format
			// so we don't need an ellipsis text-overflow here.
			max-width: none;
		}
	}
}

.dialog .eligibility-warnings {
	box-shadow: none;
	max-width: 650px;
}

.eligibility-warnings__title {
	font-family: $brand-serif;
	font-size: $font-title-large;
	overflow-wrap: anywhere;
	line-height: 40px;
	color: var(--studio-gray-100);
	font-weight: 400;
}

.eligibility-warnings__primary-text {	
	font-size: 1rem;
	margin-top: 16px;
}

.eligibility-warnings--with-indent {
	.gridicon + .eligibility-warnings__message {
		margin-left: 0;
	}
}

.eligibility-warnings__placeholder {
	@include placeholder();

	.section-header__label-text,
	.eligibility-warnings__message {
		color: var(--color-neutral-0);
		background-color: var(--color-neutral-0);
	}
	.eligibility-warnings__message {
		height: 24px;
	}

	.eligibility-warnings__hold .gridicon {
		color: var(--color-neutral-0);
	}

	.button,
	[type="button"],
	.eligibility-warnings__confirm-buttons {
		display: none;
	}
}

.eligibility-warnings .banner {
	margin-bottom: 16px;
	.banner__icon-circle {
		line-height: 32px;
		padding: 4px;
	}
}

.eligibility-warnings__hold,
.eligibility-warnings__warning {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.eligibility-warnings__hold .gridicon,
.eligibility-warnings__warning .gridicon {
	flex-shrink: 0;
}

.eligibility-warnings__hold .gridicon {
	color: var(--color-neutral-10);
}

.eligibility-warnings__warning .gridicon {
	color: var(--color-warning-10);
}

.eligibility-warnings__message {
	flex-grow: 1;
	line-height: 24px;
	padding: 0;
	margin-bottom: 10px;
}

.eligibility-warnings__inline-link {
	text-decoration: underline;
}

.eligibility-warnings__action a,
.eligibility-warnings__hold-action a {
	text-wrap: nowrap;
	.gridicons-help-outline {
		color: var(--color-neutral-light);
	}
	&:hover .gridicons-help-outline {
		color: var(--color-primary);
	}
}

.eligibility-warnings__hold-action {
	align-self: center;
}

.eligibility-warnings__no-conflicts {
	align-items: center;
	display: flex;

	.gridicon {		
		flex-shrink: 0;
	}
	span {
		display: block;
		flex-grow: 1;
		padding-left: 16px;
	}
}

.eligibility-warnings__hold-list-dim .eligibility-warnings__hold-heading,
.eligibility-warnings__hold-list-dim .eligibility-warnings__hold,
.eligibility-warnings--blocking-hold .eligibility-warnings__header {
	opacity: 0.2;
}

.eligibility-warnings__plan-storage-wrapper {
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 300px;
}

.eligibility-warnings__domain-names {
	margin: 24px 0;

	// Specificity bump to override the default styles that may get loaded later.
	.card.card {
		background-color: #f6f7f7;
		padding: 12px;
		margin-bottom: 4px;
		display: flex;
		align-items: center;

		&::after {
			content: none;
		}
	}

	.eligibility-warnings__address-first {
		text-overflow: ellipsis;
		max-width: 240px;
		overflow: hidden;
		white-space: nowrap;
	}

	.eligibility-warnings__address-second {
		margin-right: auto;
	}

	.badge {
		border-radius: 4px;
		font-weight: 500;
		font-size: $font-body-extra-small;
		padding-top: 0;
		padding-bottom: 0;
		line-height: unset;
    	height: unset;

		&.badge--success {
			background: var(--studio-green-5);
			color: var(--studio-green-80);
		}
	}

	@media (max-width: 660px) {
		.card {
			display: flex;
			flex-direction: column-reverse;
			flex-wrap: wrap;
			gap: 4px;

			.badge {
				position: relative;
				right: unset;
				width: fit-content;
				align-self: flex-start;
			}
		}
	}
}

.eligibility-warnings__warnings-card {
	border-radius: 4px;

	@media (max-width: 480px) {
		margin: 0 16px;
	}

	.eligibility-warnings__message {
		border-bottom: 1px solid var(--color-border-subtle);
		padding-bottom: 10px;
	}
}

.eligibility-warnings__warning:last-child {
	margin-bottom: 0;
	border-bottom: none;

	.eligibility-warnings__message {
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

.card.eligibility-warnings__data-center-picker.is-compact {
	margin-bottom: 24px;
}
