@import '@wordpress/dataviews/build-style/style.css';

.partner-offers-cards {
	display: grid;
	grid-template-columns: repeat( auto-fill, minmax( 250px, 1fr ) );
	gap: 32px;

	@include break-large {
		grid-template-columns: repeat( auto-fill, minmax( 270px, 1fr ) );
	}
}

.partner-offers-filters {
	margin-bottom: 16px;
}
