@import '@wordpress/base-styles/colors';
@import '@wordpress/base-styles/variables';

.agent-manager-support-guides-wrapper {
	.agent-manager-support-guides-no-results {
		text-align: center;
		font-size: $font-size-small;
		color: #f2f2f2;
		padding: 16px;
	}

	height: calc( 100% - 50px );
	padding: 16px;

	.components-search-control {
		.components-input-control__container {
			background-color: #f2f2f2;
		}
		.components-input-base {
			border-radius: 16px;
			color: var( --color-text );
		}
		.components-input-control__input {
			color: var( --color-text );
		}
		.components-input-control__backdrop {
			opacity: 0;
		}
		&:focus-within {
			.components-input-control__backdrop {
				opacity: 1;
			}
		}
	}

	.components-item-group {
		border-radius: 16px;

		div[role='listitem'] {
			box-sizing: border-box;
			font-size: $font-size-small;
			.components-item {
				transition: var( --transition-colors );
				padding: 0;
				&:hover {
					background: #f2f2f2;
				}

				a {
					color: var( --color-text );
					text-decoration: none;
					padding: 14px;
					display: block;
				}
			}

			&:first-child .components-item {
				border-top-left-radius: 16px;
				border-top-right-radius: 16px;
			}

			&:last-child .components-item {
				border-bottom-left-radius: 16px;
				border-bottom-right-radius: 16px;
			}
		}
	}
}

.agents-manager-chat--docked {
	.agent-manager-support-guides-no-results {
		color: #2f2f2f;
	}

	.agent-manager-support-guides-wrapper {
		padding: 0;

		.components-search-control {
			.components-input-control__container {
				background-color: #2f2f2f;

				.components-input-control__prefix {
					color: #f2f2f2;
				}
				.components-input-control__input {
					color: #fff;

					&::placeholder {
						color: #f2f2f2;
					}
				}
			}
		}

		.components-item-group {
			border-color: #545454;
			div[role='listitem'] {
				.components-item {
					&:hover {
						background: #2f2f2f;
					}

					a {
						color: #fff;
					}
				}
			}

			div[role='listitem'] + div[role='listitem'] {
				border-top: 1px solid #545454;
			}
		}
	}
}
