@import "@wordpress/base-styles/mixins";
@import "@wordpress/base-styles/variables";

.icon-list-item {
	padding: $grid-unit-05 0;

	.icon-list-item__decoration {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: $grid-unit-50;
		height: $grid-unit-50;
		flex-shrink: 0;
		border-radius: $radius-small;
		overflow: hidden;

		&:has(svg) {
			border: 1px solid $gray-200;
		}

		svg {
			width: $grid-unit-30;
			height: $grid-unit-30;
			flex-shrink: 0;
			fill: $gray-700;
		}

		img {
			width: 100%;
			height: 100%;
			flex-shrink: 0;
			object-fit: cover;
		}
	}

	.icon-list-item__suffix {
		flex-shrink: 0;
	}
}

