@import '@wordpress/base-styles/colors';

.agents-manager-conversation-avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	flex-shrink: 0;

	svg {
		color: $white;
	}

	&--big-sky,
	&--odie {
		background-color: $gray-800;
		border: 1px solid #464646 !important;

		svg {
			color: $white;
		}
	}

	&--he {
		background-color: #2d5af2;
	}
}
