@import "@automattic/components/src/styles/typography";
@import "@automattic/color-studio/dist/color-variables";
@import "@wordpress/base-styles/breakpoints";

@mixin blazepress-animated-skeleton {
	background-color: hsl(200, 20%, 90%);
	animation: skeleton-loading 1s linear infinite alternate;

	@keyframes skeleton-loading {
		0% {
			background-color: #eceded;
		}
		100% {
			background-color: #e6e7e7;
		}
	}
}

.campaigns-total-stats {
	&__container {
		padding: 0 !important;
	}

	&__label {
		font-size: 0.875rem;
		color: var(--studio-gray-40);
		font-family: $font-sf-pro-text;
		font-weight: 400;
	}

	&__header {
		padding: 16px;
		border-bottom: 1px solid var(--studio-gray-5);
	}

	&__title {
		font-size: 20px;
		line-height: 28px;
		color: var(--color-text);
		font-weight: 400;
	}

	&__items {
		display: flex;
		flex-direction: row;
	}

	&__item {
		font-size: 1.75rem;
		color: $studio-gray-100;
		font-weight: 400;
		padding: 32px 16px;
		border-right: 1px solid var(--studio-gray-5);
		flex: 1;

		&:last-child {
			border-right: none;
		}
	}

	&__flexible-skeleton {
		border-radius: 4px;
		display: inline-block;
		overflow: hidden;
		position: relative;
		max-width: 250px;
		height: 16px;
		width: 100%;

		@include blazepress-animated-skeleton;
	}


}


