@import "@wordpress/edit-post/build-style/style.css";

.editor__placeholder {
	.placeholder {
		@include placeholder();
		height: 16px;
		border-radius: 8px; /* stylelint-disable-line scales/radii */
	}

	.edit-post-header {
		display: flex;
		margin-top: 18px;

		.placeholder {
			height: 30px;
			border-radius: 20px; /* stylelint-disable-line scales/radii */
		}

		.edit-post-header-toolbar {
			flex-grow: 1;
		}
	}

	.edit-post-header__settings {
		display: flex;
	}

	.placeholder-site {
		width: 120px;
		margin-left: 18px;
	}

	.placeholder-button {
		width: 30px;
		margin: 0 8px;
	}

	.placeholder-title {
		height: 40px;
		border-radius: 20px; /* stylelint-disable-line scales/radii */
		margin: 18px;
	}
}
