@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/mixins';

.domains-full-cart {
	position: fixed !important;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;

	@include break-small {
		left: initial;
		max-width: 22.25rem;
	}
}

.domains-full-cart__container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.domains-full-cart__header,
.domains-full-cart__footer {
	flex-shrink: 0;
}

.domains-full-cart__body,
.domains-full-cart__footer-content {
	flex: 1;
}

.domains-full-cart__continue {
	justify-content: center;
}

.domains-full-cart__close {
	--wp-components-color-accent: var( --domain-search-secondary-action-color );
}
