$breakpoint-mobile: 782px; //Mobile size.
$breakpoint-tablet: 1224px; //Large tablet size.
$breakpoint-desktop: 1440px; //Desktop size.

.happy-blocks-search-card {
	background:
		#F7F8FE url(./assets/hero-bg.png) no-repeat bottom right;
	background-size: contain;

	flex-shrink: 0;
	padding: 72px 24px;

	@media ( max-width: $breakpoint-mobile ) {
		padding: 36px 16px;
	}

	.navigation {
		display: flex;
		align-items: center;
		gap: 16px;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			&.active {
				color: #000;
				font-weight: 600;
			}
			overflow: hidden;
			color: #50575E;
			text-align: justify;
			text-overflow: ellipsis;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;

			&.separator::before {
				content: "|";
				stroke: #ccc;
			}
		}
	}

	div.content {
		max-width: 1260px;
		margin-left: auto;
		margin-right: auto;

		@media ( max-width: $breakpoint-mobile ) {
			margin-left: 0;
		}

		h2 {
			margin-top: 16px;
			margin-bottom: 24px;

			font-size: 50px;
			font-style: normal;
			font-weight: 400;
			line-height: 1.2;

			@media ( max-width: $breakpoint-mobile ) {
				font-size: 44px;
			}

		}

		.input-wrapper {
			width: 570px;
			position: relative;
			direction: inherit;

			@media ( max-width: $breakpoint-mobile ) {
				width: 100%;
			}

		}

		.input-wrapper input {
			height: 62px;
			width: 100%;
			padding-inline-start: 24px;
			padding-inline-end: 52px;
			border-radius: 4px;
			border: none;
			box-shadow: 0 0 4px 0 rgba(56, 88, 233, 0.12);
			font-size: 16px;

			&::-webkit-search-cancel-button {
				-webkit-appearance: none;
				appearance: none;
				display: none;
			}
		}

		.input-wrapper button {
			position: absolute;
			inset-block-start: 50%;
			transform: translateY(-50%);
			inset-inline-end: 20px;
			background: none;
			border: none;
			padding: 0;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				fill: #2C3338;
			}

			&:hover svg {
				fill: #3858E9;
			}
		}

		.search-terms {
			margin-top: 16px;

			display: flex;
			align-items: flex-start;
			gap: 16px;
			list-style: none;
			padding: 0;

			overflow-x: auto;
			white-space: nowrap;

			scrollbar-width: none;
			&::-webkit-scrollbar {
				display: none;
			}

			@media ( max-width: $breakpoint-mobile ) {
				gap: 8px;
			}

			li {
				box-sizing: border-box;
				border-radius: 4px;
				background: #EDF1FF;
				padding: 2px;
				flex-direction: column;
				justify-content: center;
				display: flex;

				a {
					padding: 6px 14px;
					color: #2C3338;
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 20px;
					text-decoration: none;
				}

				&:hover {
					background: #3858E9;
					cursor: pointer;

					a {
						color: #fff;
					}
				}
			}
		}
	}
}
