@import "@automattic/color-studio/dist/color-variables";
@import "client/landing/subscriptions/components/site-subscriptions-list/styles/placeholders";

.reader-feed-item {
	border-block-end: 1px solid $studio-gray-5;
	padding-top: 20px;
	padding-bottom: 20px;
	list-style-type: none;

	@include breakpoint-deprecated( ">660px" ) {
		display: flex;
		align-items: center;
	}

	&:first-child {
		border-block-start: 1px solid $studio-gray-5;
	}

	@include breakpoint-deprecated( "<660px" ) {
		padding: 10px 0 16px;
	}

	&__site-preview-h-stack {
		flex: 1;
		max-width: 250px;

		@include breakpoint-deprecated( "<660px" ) {
			max-width: none;
			align-items: flex-start;
		}
	}

	&__title-with-url-v-stack {
		flex: 1;

		@include breakpoint-deprecated( "<660px" ) {
			padding-left: 16px;
			padding-top: 5px;
		}
	}

	&__icon {
		@include breakpoint-deprecated( "<660px" ) {
			padding-top: 6px;
		}
	}

	&__title {
		@extend %site-subscriptions-list-site-title;
	}

	&__url {
		@extend %site-subscriptions-list-site-url;
	}

	&__description {
		@extend %site-subscriptions-list-default-text;
		flex: 1;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		@include breakpoint-deprecated( "<660px" ) {
			margin: 12px 0;
		}
	}

	&__subscribe-button {
		display: block;
	}
}
