@import '@wordpress/dataviews/build-style/style.css';

.exclusive-offers-cards {
	display: grid;
	grid-template-columns: repeat( auto-fill, minmax( 250px, 1fr ) );
	gap: 32px;

	@include break-mobile {
		grid-template-columns: repeat( auto-fill, minmax( 270px, 1fr ) );
	}

	@include break-huge {
		grid-template-columns: repeat( auto-fill, minmax( 300px, 1fr ) );
	}
}

.exclusive-offers-filters {
	margin-bottom: 16px;
}
