@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";
@import "@automattic/onboarding/styles/mixins";

.step-container.site-migration-application-password-authorization {
	@include onboarding-block-margin;

	@media ( min-width: $break-medium ) {
		margin-left: auto;
		margin-right: auto;
	}

	@media ( max-width: $break-small ) {
		.formatted-header__title {
			padding: 0;
		}

		.formatted-header__subtitle {
			padding: 0;
		}
	}

	.step-container__header {
		margin-bottom: 1rem;

		@media ( min-width: 720px ) {
			.formatted-header__subtitle {
				max-width: 616px;
				padding-left: 0;
				padding-right: 0;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

.site-migration-application-password-authorization,
.site-migration-application-password-authorization-v2 {
	.site-migration-application-password-authorization__authorization {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		align-items: center;
		.action_buttons__button {
			width: 300px;
		}
		.checklist-card {
			margin-top: 1rem;
		}
		.navigation-link {
			color: var(--color-neutral-70, #1d2327);
			font-weight: 500;
			text-decoration: underline;
		}
	}
	.site-migration-application-password-authorization__contact-me-button {
		color: var(--color-text-inverted) !important;
		margin-left: 0.25em;
	}
}