@import '@wordpress/base-styles/variables';

.site-overview-cards {
	> * {
		flex-grow: 1;
		flex-shrink: 0;
	}
}

.site-overview-cards--secondary {
	flex-wrap: wrap-reverse;

	> * {
		flex-basis: 100%;
	}

	&.is-large {
		flex-wrap: nowrap;

		> * {
			flex-basis: 0;
		}
	}
}

.site-overview-card__badge {
	// This is hacky way of hiding the badge icon for now.
	// We need to handle this in the core Badge component.
	> svg {
		display: none;
	}
}

.site-overview-card__badge-icon {
	flex-shrink: 0;
}
