@import '@wordpress/base-styles/variables';

.site-overview-cards {
	> * {
		flex-grow: 1;
		flex-shrink: 0;
	}
}

// Re-ordering the divider allows us to hide it when the secondary card container is `:empty`.
.site-overview-divider {
	order: 1;
}

.site-overview-cards--secondary:empty + .site-overview-divider {
	display: none;
}

.site-overview-cards--secondary {
	flex-wrap: wrap-reverse;
	order: 2;

	> * {
		flex-basis: 100%;
	}

	&.is-large {
		flex-wrap: nowrap;

		> * {
			flex-basis: 0;
		}
	}

	&:not( .is-large ) {
		> * {
			&:empty {
				display: none;
			}
		}
	}
}

.site-overview-card__badge {
	// This is hacky way of hiding the badge icon for now.
	// We need to handle this in the core Badge component.
	> svg {
		display: none;
	}
}

.site-overview-card__badge-icon {
	flex-shrink: 0;
}
