@import "@wordpress/base-styles/colors";
@import "@wordpress/base-styles/variables";

.dashboard-domain-connection-verification {
	&--connected {
		&__icon {
			color: var(--dashboard__background-color-success);
			fill: var(--dashboard__background-color-success);
		}
	}
	&__title {
		@include body-large;
	}
	.summary-button.components-button .summary-button-title {
		font-weight: 500;
	}
	a {
		color: $gray-900;
		&:hover {
			color: $gray-900;
		}
	}
	.is-link {
		color: $gray-900;
		&:hover {
			color: $gray-900;
		}
	}
}

.verification-in-progress-next-steps {
	.icon-list-item {
		padding: $grid-unit-10;
	}
	.icon-list-item__decoration + span > span > span:last-child{
		font-size: $font-size-small;
	}
}

.domain-connection-setup {
	a {
		color: $gray-900;
		&:hover {
			color: $gray-900;
		}
	}
	button.is-link {
		color: $gray-900;
		&:hover {
			color: $gray-900;
		}
	}
	&__step .components-card-body{
		padding-inline-start: 0;
		padding-inline-end: 0;
	}
	&__step .collapsible-card__content {
		padding-inline-start: 40px;
		padding-top: 16px;
	}
}
