@import "@automattic/onboarding/styles/mixins";
@import "@wordpress/base-styles/mixins";

.qr-code-login-page {
	margin: 0 auto;
	text-align: center;

	&.is-jetpack {
		max-width: 450px;
	}
}

.qr-code-login-page__form {
	margin-block-end: 2em;
}

.qr-code-login-page__placeholder {
	width: 100%;
	height: 348px; /* 300px + ( 2 * 24px ) */
}
