@import "@automattic/onboarding/styles/mixins";
@import "@wordpress/base-styles/mixins";

.qr-code-login-page {
	margin: 0 auto;
	max-width: 700px;
	text-align: center;

	&.is-jetpack {
		max-width: 450px;
	}
}

.layout:has(.qr-code-login-page:not(.is-jetpack)) {
	display: flex;
	align-items: center;
	justify-content: center;
}

.qr-code-login-page__heading {
	@include onboarding-heading-text-mobile;
	margin-bottom: 16px;
	text-align: left !important;
}

.qr-code-login-page__footer {
	a {
		display: block;
		font-size: $font-body-small;
		color: var(--color-text);
		font-weight: 600;
		padding: 0 24px;
		text-align: center;
		text-decoration: underline;

		&:hover {
			color: var(--color-primary);
		}
	}
}

.qr-code-login-page__placeholder {
	width: 100%;
	height: 348px; /* 300px + ( 2 * 24px ) */
}
