.agents-manager-chat--docked {
	.agents-manager-chat-header {
		.agents-manager-chat-header__back-btn svg {
			fill: #fff;
			margin-left: 0;
		}
	}
}

.agents-manager-chat-header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
	height: 56px;
	padding: 4px 16px;

	.agents-manager-chat-header__back-btn {
		padding: 0;
		padding-right: 4px;
	}

	&:has( .agents-manager-chat-header__title ) {
		justify-content: space-between;
	}

	&__title {
		font-size: 14px;
		font-weight: 600;
		color: #1f1f1f;
		flex-grow: 1;
	}

	&__actions {
		display: flex;
		gap: 4px;
		align-items: center;
	}

	&__more-options,
	&__close-btn {
		svg {
			fill: #1f1f1f;
		}
	}
}
