@import '@wordpress/base-styles/variables';

.dashboard-header-bar {
	box-sizing: border-box;
	padding: $grid-unit-15;
	border-bottom: $border-width solid var( --dashboard-header__border-color );
	background-color: var( --dashboard-header__background-color );
	backdrop-filter: blur(4px);
	color: var( --dashboard-header__color );
}

.dashboard-header-bar-title > span {
	padding-inline: $grid-unit-15;
}
