@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/mixins';

.step-container-v2__top-bar {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	padding: 1rem;

	@include break-small {
		padding-inline: 1.5rem;
	}
}

.step-container-v2__top-bar-wrapper {
	width: 100%;
}

.step-container-v2__top-bar-left-element,
.step-container-v2__top-bar-right-element,
.step-container-v2__top-bar-wordpress-logo {
	height: 24px;
}

.step-container-v2__top-bar-left-element,
.step-container-v2__top-bar-right-element {
	display: flex;
	align-items: center;
}

.step-container-v2__top-bar-wordpress-logo {
	color: var( --color-text );
	margin: 0;

	@include break-small {
		margin-right: 0.5rem;
	}
}

.step-container-v2__top-bar-wordpress-logo--wordmark {
	display: none;

	@include break-small {
		display: block;
	}
}

.step-container-v2__top-bar-wordpress-logo--logo {
	display: block;

	@include break-small {
		/**
		 * Hide the logo only when the wrapper is not compact.
		 * This is important for current Login views, where the logo is always visible.
		 * -- Confirm with Design before changing this --
		 */
		.step-container-v2__top-bar-wordpress-logo-wrapper:not( .is-compact ) & {
			display: none;
		}
	}
}

.step-container-v2__top-bar-divider {
	width: 1px;
	height: 1rem;
	background-color: var( --color-border-subtle );
	margin-inline: 1rem 0;

	@include break-small {
		margin-inline: 1.5rem 0.75rem;
	}
}

.step-container-v2__top-bar-right-element {
	display: flex;
	gap: 1.5rem;
	margin-left: auto;
	font-size: 0.875rem;
	line-height: 1;

	a,
	button {
		&.components-button:not(.is-destructive).is-link {
			--wp-components-color-accent: var( --color-neutral-100 );
		}
	}
}
