.mobile-header {
	display: flex;
	padding: 12px 16px;
	border-bottom: 1px solid #f0f0f0;

	@include break-small {
		padding: 12px 0;
		border-bottom: none;
	}
	.mobile-header__app-title {
		padding: 0;
		height: fit-content;
	}
}
