.free-domain-for-a-year-promo {
	box-shadow: 0 0 0 1px rgba( 56, 88, 233, 0.12 ) !important;
}

.free-domain-for-a-year-promo__body {
	background: rgba( 56, 88, 233, 0.04 );
}

.free-domain-for-a-year-promo__image {
	user-select: none;
	flex-shrink: 0;
}
