.dashboard-root__layout {
	height: 100%;
}

// For pages without sub menus, the first header is the sticky header
// For pages with sub menus, the second header is the sticky header
.dashboard-root__layout:not(:has(main > .dashboard-header-bar)) > .dashboard-header-bar,
.dashboard-root__layout > main > .dashboard-header-bar {
	position: sticky;
	top: 0;
	z-index: 2; // DataViews header seems to have z-index: 1
}
