
.popover.a4a-marketplace__guided-tour {
	margin-block-start: 32px;
	max-width: 300px;

	.popover__arrow {
		display: block;
	}

	.guided-tour__popover-heading {
		text-wrap: wrap;
		text-align: left;
	}

	.guided-tour__popover-description {
		max-width: 300px;
	}
}

.main.hosting-dashboard-layout .a4a-marketplace__header-actions {
	display: flex;
	align-items: center;
	gap: 8px;
	& > * {
		flex-grow: 0;
	}

	@include breakpoint-deprecated( "<660px" ) {
		header.current-section button {
			border: none;
			padding: 0;
		}
		justify-content: space-between;
	}

	.a4a-marketplace__term-pricing-toggle {
		@include breakpoint-deprecated( "<660px" ) {
			justify-content: center;
		}
	}
}
