@import "@wordpress/base-styles/variables";
@import "@wordpress/base-styles/breakpoints";

.dashboard-summary-button {
    @media (max-width: #{$break-medium - 1px}) {
        padding-inline: $grid-unit-20 !important;
    }
}
