.one-login__footer {
	display: flex;
	align-self: center;
	flex-direction: column;
	gap: 1em;
	text-align: center;
	font-size: $font-body-small;
	color: var( --studio-gray-50, #646970 );

	.one-login__footer-link {
		text-decoration: underline;
		padding: 0;
		height: auto;
	}

	.one-login__footer-links-wrapper {
		display: flex;
		align-self: center;
		gap: 1em;

		.one-login__footer-link {
			color: var( --studio-gray-90, #1d2327 );
			font-weight: 500;
			display: inline-flex;
			align-items: center;
			align-self: center;
			gap: 0.1em;
		}
	}

	.one-login__footer-text {
		color: inherit;

		.one-login__footer-link {
			color: inherit;
			font-weight: inherit;
			font-size: inherit;
		}
	}
}
